---
layout: default
title: Blog
permalink: /blog
---
<h1>Posts by Date</h1>
<div class="threeColumns">
  {% for post in site.posts %}
    <div>
        <span class="smaller">{{ post.date | date_to_string }}</span>
        <h3><a href="{{ site.basurl }}{{ post.url }}">{{ post.title }}</a></h3>
        <div class="smaller attribution">{% if post.category %}Filed under <a href="{{ site.baseurl }}/blog/category/{{ post.category | slugify }}">{{ post.category }}</a>{% else %}Uncategorized{% endif %} and {% if post.tags %}{% assign tagsByName = post.tags | sort %}tagged as {% if tagsByName.size > 2 %}{% for tag in tagsByName %}{% if forloop.last == true %}and <a href="{{ site.baseurl }}/blog/tag/{{ tag | slugify }}">{{ tag }}</a>{% else %}<a href="{{ site.baseurl }}/blog/tag/{{ tag | slugify }}">{{ tag }}</a>, {% endif %}{% endfor %}{% else %}{% if tagsByName.size == 2 %}<a href="{{ site.baseurl }}/blog/tag/{{ tagsByName[0] | slugify }}">{{ tagsByName[0] }}</a> and <a href="{{ site.baseurl }}/blog/tag/{{ tagsByName[1] | slugify }}">{{ tagsByName[1] }}</a>{% else %}{% if tagsByName.size == 1 %}<a href="{{ site.baseurl }}/blog/tag/{{ tagsByName | slugify }}">{{ tagsByName }}</a>{% endif %}{% endif %}{% endif %}{% else %}untagged{% endif %}.</div>
        {{ post.excerpt }}
        <a href="{{ site.baseurl }}{{ post.url }}" class="button button-primary">Read more</a>
    </div>
  {% endfor %}
</div>
