---
layout: default
title: Categories
permalink: /blog/categories
---

<h1>Blog Archive by Categories</h1>
<ul>
  {% for category in site.categories %}
    {% capture categoryName %}{{ category | first}}{% endcapture %}
    <li><a href="#{{ categoryName | slugize }}">{{ categoryName }} ({{ site.categories[categoryName].size }})</a></li>
  {% endfor %}
</ul>

{% for category in site.categories %}
  {% capture categoryName %}{{ category | first}}{% endcapture %}
  <h2 class="anchor" id="{{ categoryName | slugize }}">{{ categoryName }}</h2>
  <ul>
    {% for post in site.categories[categoryName] %}
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
