---
layout: default
title: Blog Categories
permalink: /blog/categories
---

<h1>{{ page.title }}</h1>
<ul>
  {% for category in site.categories %}
    {% capture categoryName %}{{ category | first}}{% endcapture %}
    <li><a href="#{{ categoryName | slugize }}">{{ categoryName }} ({{ site.categories[categoryName].size }})</a></li>
  {% endfor %}
</ul>

<div class="threeColumns">
  {% for category in site.categories %}
    {% capture categoryName %}{{ category | first}}{% endcapture %}
    <div>
      <h2 class="anchor" id="{{ categoryName | slugize }}">{{ categoryName }}</h2>
      {% for post in site.categories[categoryName] %}
        <span class="smaller">{{ post.date | date_to_string }}</span><br /><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br /><br />
      {% endfor %}
    </div>
  {% endfor %}
</div>

{% assign categoriesBySize = site.posts | group_by: "category" | sort: "size" %}
{% for cat in categoriesBySize limit:5 %}
  <h1>{{ cat.name }} <span class="small">{{ cat.size }} Posts</span></h1>
{% endfor %}
