---
layout: default
title: Plants
---
<h1>Plants</h1>

<p>Between my partner, Chris, having a degree in landscape architecture and my own houseplant hobby, we've developed quite a collection. Add in my obsession with data analysis, and you get this little catalog of plants. You can also follow us and out plants on Instagram <a href="https://www.instagram.com/theboysprouts/">@theBoySprouts</a>.</p>

{% assign plantLocations = site.data.plants | group_by: "location" | sort: "name" %}
<ul>
  {% for location in plantLocations %}
    <li><a href="#{{ location.name | slugify }}">{{ location.name }} ({{ location.size }})</a></li>
  {% endfor %}
  {% if location.name == "Wishlist" %}
    {% assign wishlistCount = location.size %}
  {% endif %}
</ul>

<p>That means we have or have had (rest in peace all of the African violets I've killed) a total of {{ site.data.plants.size | minus: wishlistCount }} different kinds of plants. Of course we have some duplicates of some favorites (and multiples in a pot very often), so it's not really fair to count "plants" per se. Needless to say, it's quite a few. Luickly, we have a 1/3-acre lot, so the outside plants have plenty of room. The inside plants, on the other hand...</p>

{% for location in plantLocations %}
  {% if location.name == "Dead" %}
    <h2 class="anchor" id="{{ location.name | slugify }}">{{ location.name }}</h2>
    <p>Right up front you get the list of plants that have died in our care. In some cases we wanted to keep them, but they died in a move or a transition around the yard (nothing is permanent in our landscape). But to be quite honest, most of the death here came from inexperienced care. I'd like to give most of them a shot again when the time is right.</p>
  {% endif %}

  {% if location.name == "Gave" %}
    <h2 class="anchor" id="{{ location.name | slugify }}">{{ location.name }}</h2>
    <p>I've given away quite a bit more plants than the ones listed here. These are just the plants that I gave away and didn't have a backup. I've cared for them, found that I didn't love them for some reason or other, and gave them to a better home. Mostly, they just fought me. Whether they needed more attention than I was willing to give or constantly suffered some malady, the costs outweighed the benefits.</p>
  {% endif %}

  {% if location.name == "Inside" %}
    <h2 class="anchor" id="{{ location.name | slugify }}">{{ location.name }}</h2>
    <p>The vast majority of these plants are mine, save a few pothos and all of the orchids (not the biggest fan). Naturally, the family Araceae is well-represented. Moreso because they make easy houseplants than any sort of fanaticism. The family Apocynaceae, on the other hand, is a bit of an obsession. It's so very diverse between Hoya, Stapelia, Ceropegia, Plumeria! The list goes on, and they're all amazing.</p>
  {% endif %}

  {% if location.name == "Outside" %}
    <h2 class="anchor" id="{{ location.name | slugify }}">{{ location.name }}</h2>
    <p>Chris's goal has been to make our front yard look like an English garden. I've come to findo out that this means cramming as many plants into a small location as you can to make it look "homey". I have a few choice plants of my own among them, but I'd say between the edibles and the flowers, these are mostly Chris's.</p>
  {% endif %}

  {% if location.name == "Water" %}
    <h2 class="anchor" id="{{ location.name | slugify }}">{{ location.name }}</h2>
    <p>Chris keeps fish, and fish need oxygen (plus those tanks look way better chock full of greenery).</p>
  {% endif %}

  {% if location.name == "Wishlist" %}
    <h2 class="anchor" id="{{ location.name | slugify }}">{{ location.name }}</h2>
    <p>These are plants I haven't had the joy of owning yet, but for which I'm keeping an eye out for a good source. They're not always particularly expensive; I just can't seem to find them in my area. Happy to trade with someone if something I have is on your wishlist! Plant penpals wanted.</p>
  {% endif %}

  <div class="deck">
    {% assign sortedByType = location.items | sort: "type" %}
    {% assign sortedByVariety = sortedByType | sort: "variety" %}
    {% assign sortedBySpecies = sortedByVariety | sort: "species" %}
    {% assign sortedByGenus = sortedBySpecies | sort: "genus" %}
    {% for plant in sortedByGenus %}
      <div class="card">
        <div class="cardContent">
          <i>{{ plant.genus }}{% if plant.species %} {{ plant.species }}{% else %} sp.{% endif %}{% if plant.type %} {{ plant.type }}{% endif %}</i>{% if plant.variety %} '{{ plant.variety }}'{% endif %}<br />
          <a href="https://www.google.com/search?q={{ plant.genus }}+{{ plant.species }}">Search Google</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}
