---
layout: default
title: Posts by Tags
permalink: /blog/tags
---

<h1>{{ page.title }}</h1>
<ul>
  {% assign tagsByName = site.tags | sort %}
  {% for tags in tagsByName %}
    <li><a href="#{{ tag.name | slugify }}">{{ tag.name }}</a> <span class="smaller">{{ tag.size }} Posts</span></li>
  {% endfor %}
</ul>

<hr />

<div class="threeColumns">
  {% for tag in tagsByName %}
    <div>
      <h2 class="anchor" id="{{ tag.name | slugify }}">{{ tag.name }}</h2>
      {% for post in tag.items limit:5 %}
        <span class="smaller">{{ post.date | date_to_string }}</span><br /><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br /><br />
      {% endfor %}
      <a href="#">&raquo; See all</a>
    </div>
  {% endfor %}
</div>
