<footer>
	<div class="testimonial big-only">
		<blockquote>
			<p>"I learned more than I ever imagined I could while experiencing the most beautiful, stunning parts of the world. This program really opened my eyes on issues I had never considered before, and I am coming home with a more open mind and broader world view."</p>
			<p>&mdash; Emily Gronlund, Maymester Australia and New Zealand 2017</p>
		</blockquote>
		<button class="button-primary">Read More Testimonials</button>
	</div>
	<div class="information">
		<p>Room 102, Building 4<br />180 E Green St.<br />Warnell School of Forestry and Natural Resources<br />University of Georgia<br />Athens, GA 30602</p>
		<p>E: discoverabroad@uga.edu<br />T: (706) 542-9713</p>
		<p><i class="fab fa-facebook"></i> <i class="fab fa-instagram"></i> <i class="fab fa-twitter"></i></p>
	</div>
	<div class="copyright"><i class="far fa-copyright"></i> 2018 Discover Abroad &amp; the University of Georgia</div>
</footer>