<header>
	<div class="logo">
		<a href="/"><img src="/assets/images/logo-discoverabroad.jpg" /></a>
	</div>

	<nav>
		<a href="/">Home</a>
		<div class="dropdown big-only">
			<button>Programs <i class="fas fa-angle-down"></i></button>
			<div class="dropdown-content">
				<a href="#">Spring Australia, New Zealand, Fiji, Hawaii</a>
				<a href="#">Spring Break Hawaii</a>
				<a href="/programs/maymester/">Maymester Australia and New Zealand</a>
				<a href="/programs/fiji/">Add-on Fiji</a>
				<a href="#">Summer Australia: Global Health</a>
				<a href="#">Summer England and Scotland</a>
				<a href="#">Summer Great Smoky Mountains National Park</a>
				<a href="#">Winter Break Australia</a>
			</div>
		</div>
		<div class="dropdown big-only">
			<button>About <i class="fas fa-angle-down"></i></button>
			<div class="dropdown-content">
				<a href="#">Mission</a>
				<a href="#">Partners</a>
				<a href="#">Research</a>
				<a href="#">Testimonials</a>
			</div>
		</div>
		<a href="#">Contact Us</a>
		<a href="#" class="small-only"><i class="fas fa-angle-down"></i> Scroll for programs <i class="fas fa-angle-down"></i></a>
	</nav>
</header>