---
---

img
  max-width: 100%

.plantCollection
  margin: 0 auto
  width: 94%
  max-width: 900px

.familyCollection
  display: grid
  grid-gap: 33px
  grid-template-columns: repeat(auto-fit, 200px)
  margin: 0 auto
  width: 100%

.plantCard
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
  transition: 0.25s
  border-radius: 5px

.plantCard:hover
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)

.plantDead, .plantIn, .plantYard, .plantAqua, .plantPond
  width: 100%
  height: 50px
  border-radius: 5px 5px 0 0

.plantDead
  background-color: #FD151B

.plantIn
  background-color: #849324

.plantYard
  background-color: #FFB30F

.plantAqua
  background-color: #437F97

.plantPond
  background-color: #01295F

.plantName
  padding: 15px
