---
layout: default
---

<div class="program-title">
	<h1>{{ page.title }}</h1>
</div>

<div class="banner">
	<img src="{{ page.image }}" />
</div>

<a href="{{ page.application }}" class="apply button button-primary">Apply Now</a>

<main class="program-details">
	<div>
		<h5><strong>Program Fee:</strong> {{ page.fee }}</h5>
		<p>Includes the {{ page.deposit }} nonrefundable commitment deposit. Does not include UGA tuition or fees, airfare, course materials, or personal spending. <a href="{{ page.costs }}">Click here for a detailed cost estimate</a>.</p>
	</div>
	<div>
		<h5><strong>Program Dates:</strong> {{ page.dates }}</h5>
		<p>Includes travel days to and from the United States.</p>
	</div>
	<div>
		<h5><strong>Locations:</strong></h5>
		<p>{% for location in page.locations %}{% if forloop.last %}and {{ location }}.{% else %}{{ location }}, {% endif %}{% endfor %}</p>
	</div>
	<div class="program-description">

		{{ content }}
		
		<p><a href="{{ page.itinerary }}">Click here for a <em>sample</em> itinerary.</a></p>
	</div>
</main>

<aside class="gallery">Gallery</aside>
