---
layout: default
---

<h1>Filed Under {{ page.tag }}</h1>
<div class="threeColumns">
  {% for post in site.tags[page.tag] %}
    <div>
        <span class="smaller">{{ post.date | date_to_string }}</span>
        <h3><a href="{{ site.basurl }}{{ post.url }}">{{ post.title }}</a></h3>
        <div class="smaller attribution">{% if post.category %}Filed under <a href="{{ site.baseurl }}/blog/category/{{ post.category | slugify }}">{{ post.category }}</a>{% else %}Uncategorized{% endif %}.</div>
        {{ post.excerpt }}
        <a href="{{ site.baseurl }}{{ post.url }}" class="button button-primary">Read more</a>
    </div>
  {% endfor %}
</div>
