---
layout: default
---

<h1>Tagged As {{ page.tag }}</h1>
<div class="threeColumns">
  {% for post in site.tags[page.tag] %}
    {% include post-preview.html item=post %}
  {% endfor %}
</div>

<h2>Choose Another Tag</h2>
<div class="threeColumns">
  <div class="centerText">
    {% capture tags %}
      {% for tag in site.tags %}
        {{ tag[1].size | minus: 10000 }}#{{ tag[0] }}#{{ tag[1].size }}
      {% endfor %}
    {% endcapture %}
    {% assign tagsBySize = tags | split: " " | sort %}
    {% assign biggestTag = tagsBySize[0] | split: "#" %}
    {% assign max = biggestTag[2] | minus: 1 %}
    {% assign rate = 120 | divided_by: max %}
    {% for tag in site.tags %}
      <a href="{{ site.baseurl }}/blog/tags/{{ tag[0] }}" style="font-size: {{ tag[1].size | minus: 1 | times: rate | plus: 80 }}%">{{ tag[0] }}</a>
    {% endfor %}
  </div>
</div>
